{
    "presets": [
        ["env", {
            "targets": {
                "node": "4"
            }
        }]
    ],
    "plugins": ["array-includes", "transform-es2015-modules-umd", "transform-object-rest-spread"]
}
