{
    "presets": [
        ["env", {
            "targets": {
                "browsers": ["last 2 versions", "safari >= 7"],
                "node": "current"
            }
        }]
    ],
    "plugins": ["array-includes", "transform-es2015-modules-umd", "transform-object-rest-spread"]
}
