language: node_js
node_js:
  - '10'
  - '8'
addons:
  apt:
    sources:
      - ubuntu-toolchain-r-test
    packages:
      - libcairo2-dev
      - libjpeg8-dev
      - libpango1.0-dev
      - libgif-dev
      - librsvg2-dev
      - g++-4.9
env:
  matrix:
    - CXX=g++-4.9
  global:
    - secure: FDWx1iLd751cisce99Vx2tKPHml+yIVSHMJdYxPI57lllY1ukxkTtk6mTqtOeo1+9z6RL3H6lnOQ9MB9V0paCbsfdEDZpSi9YRhqNddCEcnaBbVqQnnIkFOL6oZNP6zY8GBGfVhzSJr4gtwdN54dVnP2YrrV3zJ6DjarlpeYUVScnPB+hEwNqaXFyhIUGjUe7rYEy7QhklS2QvtlXUzDMQvUDtlohVDkzhA6ZeAgcg/rD8yOxoEOXagjV4quRCwB25qeHbDl4UWrx4LvUPD2Er+WiLqly9oAUW4pr42vUtUTWNs8TlD/vfRtGBg88TcwYaYQua6oxsAp8izF+rnAAIJoc7uN76gkI/uqdaKOTMdiEX9d+KJTc1cRb4tcSIO2thpBvurxlD+W5YOwh1UGqT6lHYKN7iphoMn3H00BZLnUZsUmlz14NBdO3V7GwtyiGihWzvKi149qwNIRooFrq2S+Y9dqSwQdF/mE7cgtKkMfiQ8GhUafWrDKhV5OIb/OG9tOJHHFIEMqdvFVxaa2sCj104Wk4qZUw+GrSlfi2PyisBxl8TE9nSk8JMLObSQ0PEPqZEcmNz28f9n6+2Yjkd435vDEm2UJ71m8FZciiHIBOm2bFnt0XAck3afsvV344LLYZM32clEAEFDVtA9e8G8BWogBMLwRgS8emZzQPWI=
    - secure: Sph9tsORk0Br7cZrZouZrQBJ+ly4wil6E2Q80cQiHyYQGjx2R6qeD8mubqdx8lTRu2BLVOfrKV3maHA0rBSm18pXr36lmsMnLY6NIyfymBzc9MDfy+an7s4+IUD/CVXj+/l+0qhPs7eJo+4+SuknedUF2KAzRWDbHmG9bbTKICE+8ZUIP2ZNx5uDPoYc97dsKEyDpG2lt43FwmzVtcZRrfgkQal3JWWfH7B6FSgBG46iuZaPZCDW1ytvPMcYQfC0GwtKZxdX4wyAR13GS3UIEs/NDubJiklrdpVippcOZNS0itRICU7U0K5jl7oEezQ+ZoIoEyCi/8eExvC1XH5aXwmtCxZCMNfV1mL0J0JSskCnuzGEaTT9jZCyESASONR6z4R7eh9Q3Ay+taX2rwJ2F/1bCUWKjV7L547lEnq4ygbceHTrwIH5QxmjPX/iSccURNpPQKncnThKsM4Gq8rmXCsdzvk/X7OBzS7k+xx/ktnqJCeBjsBMpXhJsGdH5KVAULWLxgnh+nFvJdfvfiVxLej5K23p6Wdgl3gcci6bcl4mIuQRKST80m+aaynxihGbLDUHXeAzsiMO8LhuxKpSqYJt8NJMn1A0gY0qIhktCuV6wy86aWXD+wNzJB5y7PtHN4ZG+aJW5h18IAeANRbFWhNZBePVIXYybnEcS1X1hXc=
install:
  - npm ci
  - npm i -g browserstack-runner
script: if [[ "$TRAVIS_NODE_VERSION" = "10" ]]; then npm run test:all; else npm run test; fi
after_success:
  - if [[ "$TRAVIS_NODE_VERSION" = "10" ]]; then npm run coveralls; fi
